<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
		<!--add key="AnchorLayout.DisableSinglePassControlScaling" value="false" />
		<add key="CheckedListBox.DisableHighDpiImprovements" value="false" />
		<add key="DataGridView.DisableHighDpiImprovements" value="false" />
		<add key="DisableDpiChangedMessageHandling" value="false" />
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
		<add key="Form.DisableSinglePassControlScaling" value="false" /-->
	</System.Windows.Forms.ApplicationConfigurationSection>
	<appSettings>
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
	</appSettings>
</configuration>
