<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.2.1" targetFramework="net46" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net46" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net46" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.4.6" targetFramework="net46" />
  <package id="Tesseract" version="3.0.2.0" targetFramework="net46" />
</packages>