span.h2 {margin:10 0 0 0;font-size1: 21px;display:inline-block;}
span.h3 {margin:5 0 0 20;font-size1: 19px;display:inline-block;}
span.h4 {margin:2 0 0 40;font-size1: 17px;display:inline-block;}
span.h5 {margin:0 0 0 60;font-size1: 15px;display:inline-block;}

span.nobreak {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.section{
    width:100%;
    background1: aqua;
}

#content{
    vertical-align:top;
    display:inline-block;
}

.menu {
    height1: 100%; 
    width1: 100; 
    position1: fixed; 
    left1: 0;
    background-color: #fff; 
    overflow-x: hidden; 
    padding-top: 20px; 
    padding-left: 20px; 
    padding-right: 20px; 
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */    
    margin-left:10;
    margin-right:20;
    float1:left;
    display:inline-block;
    border-right: 5px solid grey;
}

/* The navigation menu links */
.menu a {
    text-decoration: none;
    font-size1: 15px;
    color: #000;
    display1: block;
    transition: 0.3s;
}

.menu a:hover {
    color: #900;
}
.menu a.current {
    color: #d00;
    font-weight1: bold;
}

