
h1 {color:#347; text-align: center;}
h2 {color:#702; text-indent: 20px; margin-top:50}
h3 {color:#069; text-indent: 10px; margin-top:40}
h4 {color:#073; text-indent: 5px; margin-top:20; margin-bottom:10}
h5 {color:#000; text-indent: 5px; margin-top:10; margin-bottom:10}
p {   margin1: 0;    margin-top:10;    padding1: 0;}
table { margin-top:20; margin-bottom:10; border-collapse: collapse; border-color: grey; }
table, th, td {border: 1px solid grey; }
th {color:#000; font-style:italic;}
th, td {margin:5; padding:5;}
img {max-width: 1200px; max-height: 700px; margin-top:20; margin-bottom:30;display:block;}

.footer {margin-top:auto;margin-bottom:auto;text-align:center;align-content:center;display:flex;justify-content:center;}
.attention{font-style:italic;font-weight:bold;color1:#503;}
.screenshot_title{}
.title_column{white-space: nowrap;font-weight:bold;}

