:root {/*not supported by older browsers like IE11 so as an alternative, use the custom parameters in script tag*/
    --shift-header-and-footer-to-content-view: 0;
}

/*span.h1 {margin:15 0 0 0; font-size:1.25em; }
span.h2 {margin:10 0 0 20; font-size:1.2em;}
span.h3 {margin:6 0 0 40; font-size:1.15em; }
span.h4 {margin:4 0 0 60; font-size:1.1em; }
span.h5 {margin:2 0 0 80; font-size:1.05em; }
span.h6 {margin:0 0 0 100; font-size:1em; }*/
span.h1 {margin:5 0 0 0;}
span.h2 {margin:5 0 0 20;}
span.h3 {margin:5 0 0 40;}
span.h4 {margin:5 0 0 60;}
span.h5 {margin:5 0 0 80;}
span.h6 {margin:5 0 0 100;}

.noTopMargin{
    margin-top: 0;
}

.contentContainer{
    vertical-align:top;
    padding: 0 0 0 0;
    vertical-align:top;
    text-align:left;
    width:auto;
    overflow:auto;/*removes gaps appearing between block elements due to margin of their childs!*/
}

.menuContainer{
    max-width: 30%;
    max-height1: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    overflow: auto;     
    vertical-align:top;
    text-align:left;
    background-color: #fafafa; 
    display:block;
}

.menu {
    padding: 0 20 20 20;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */  
    display:block;
    overflow: auto; 
    white-space: nowrap;
}

.menuItem {
    text-decoration: none;
    color: #000;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}
.menuItem:hover {
    color: #900;
    background-color: #ddd;
}
.menuItem.current {
    color: #d00;
    background-color: #ddd;
    font-weight1: bold;
}
.menuNoclickItem {
    text-decoration1: underline;
    font-style: italic;
    color: #000;
    display: block;
    transition: 0.3s;
}

.switchContainer{
    margin: 0 0 10 5;
}

.switchLink{
    font-size: 0.8em;    
}

